@page "/"
@using System.Globalization;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>

<div>
    <Crafting Items="Items" Recipes="Recipes" />
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
